{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "current" // Adjust this based on your target environment
          }
        }
      ],
      "@babel/preset-react"
    ],
    "plugins": [
      "@babel/plugin-proposal-class-properties"
    ]
  }